*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5e6366;
}

html
{
    font-size: 10px;
}

body
{
    font-size: 1.2rem;
}

.calculator
{
    border: 1px solid rgb(51, 50, 50);
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calculator-input
{
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color:rgb(43, 41, 41) ;
    color: white;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button
{
    height: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #3f2f2f;
    background-color: rgb(114, 121, 114);
    font-size: 2.5rem;
    color: #333;
}

button:hover
{
    background-color: #eaeaea;
}

.operator
{
    color: #a00b23;
    background-color: rgb(156, 122, 72);
}

.clear
{
    background-color: #ad292e;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover
{
    background-color: #bb5252;
}

.equal-sign
{
    background-color: #286186;
    border-color: #29638a;
    color: rgb(255, 255, 255);
    grid-area: 2/4/6/5;
    height: 100%;
}

.equal-sign:hover
{
    background-color: #4e9ed4;
}

.calculator-keys
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}

.header
{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    color: #531d26;
}

.footer
{
    display: inline-block;
    position: absolute;
    top: 77.5%;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: -1;
}

.insta
{
    margin-top: 3px;
    margin-left: 21px;
    z-index: -1;
    
}